<!DOCTYPE html>
<html lang="en">
    {% from "components/macros.html" import head %}
    {{ head('Connect With Your Friends') }}
<body class="bg-gray-900">
    <!-- Navbar -->
    <div class="absolute inset-x-0 top-0 z-50 pt-[3rem] w-[100vw]">
        <nav class="flex items-center justify-between pl-10 pr-10">
            <div class="flex flex-1">
                <a href="/" class="-m-1.5 p-1.5">
                    <span class="text-white font-bold text-lg">KETOCHAT</span>
                </a>
            </div>
            <div class="flex gap-x-12">
                <a href="/" class="text-sm font-bold leading-6 text-white">Support</a>
                <a href="/" class="text-md font-bold leading-6 text-white">Donate</a>
            </div>
            <div class="flex flex-1 justify-end">
                <a href="/" class="transition-all duration-100 font-bold text-gray-400 hover:text-white bg-gray-700/50 hover:bg-gray-800 rounded-full px-4 py-2">
                    Login
                </a>
            </div>
        </nav>
    </div>

    <!-- Main -->
    <div class="relative isolate pt-14 px-8">
        <div class="mx-auto max-w-2xl py-56">
            <div class="text-center">
                <h1 class="font-bold tracking-tight text-white text-6xl">Find your community, connect with your friends.</h1>
                <p class="mt-6 text-xl leading-8 text-gray-400">KetoChat is one of the best ways to connect with your friends and community. We focus on only the user, and you can be sure that your conversations and data is secure.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/channels/@me" class="transition-all duration-100 font-bold text-white bg-gray-700/50 rounded px-4 py-2">
                        Open In Web
                    </a>
                    <button disabled aria-disabled="true" class="opacity-50 cursor-not-allowed transition-all duration-100 font-bold text-white bg-purple-500 rounded px-4 py-2">
                        Desktop app coming soon!
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.tailwindcss.com/"></script>
</html>