<div id="settings-modal" tabindex="-1" class="fixed w-full h-full top-0 left-0 flex items-center justify-center z-50 hidden overflow-x-hidden overflow-y-auto">
    <div class="fixed w-full h-full bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 rounded-full border border-gray-400 text-sm p-1.5 ml-auto inline-flex items-center bg-transparent hover:bg-gray-600 text-gray-400 hover:text-white" data-modal-hide="settings-modal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>
        </button>

        <div class="px-4 py-2">
            <h3 class="text-lg font-normal text-gray-500 dark:text-gray-400">Settings</h3>
        </div>
    </div>
</div>